.keys {
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 248, 66);
    font-size: xx-small;
    display: flexbox;
    padding: 5px 5px 5px 5px;
}
.button{
    font-size: 10px;
    justify-content: end;
}