.td-today {
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 150, 150);
    font-size: xx-small;
    display: flexbox;
    font-weight: bold;
}
.td {
    justify-content: center;
    align-items: center;
    font-size: xx-small;
    display: flexbox;
    font-weight: bold;
}
.td-reserved{
    justify-content: center;
    align-items: center;
    font-size: xx-small;
    display: flexbox;
    font-weight: bold;
    margin: 0px;
    background-color: rgb(255, 0, 0);
}
.td-reserved-today{
    justify-content: center;
    align-items: center;
    font-size: xx-small;
    display: flexbox;
    font-weight: bold;
    margin: 0px;
    background-color: rgb(255, 0, 0);
}
.button{
    font-size: 15px;
    align-items: right;
    background-color: rgb(245, 202, 11);

}
.button-td{
    font-size: 15px;
    align-items: right;
    background-color: rgb(255,0,0);
    border: none;
    width: 25px;
    height: 25px;
}